@font-face {
    font-family: 'Vogue';
    src: url("Fuentes/Vogue.ttf");
  }

.formato2x1 {
   display: grid;
   grid-template-columns: 8fr 2fr;
   grid-gap: 24px;
   margin: 20px 100px 20px 100px;
   overflow: hidden;
 }

 .textoSemiTitulo {
    /*margin: auto;*/
    font-size: 30px;
    margin: 10px;
    text-align: left;
    font-family: 'Vogue';
    animation: texto 5s ease infinite;
  }




.barraAncha{
    margin-top: 16px;
    /*margin: 0px;*/
    border-collapse: collapse;
    color: black;
    /*background: rgb(15, 11, 92);*/
    animation: columna_sup 5s ease infinite;
    width: 95%;
    height: 50%;
    font-size: 30px;
    border-radius: 15px;
    
    overflow: hidden;
    animation: only-border 5s ease infinite;
    
  }

  .barra{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: auto;
    border-collapse: collapse;
    color: black;
    background: rgb(15, 11, 92);
    animation: columna_sup 5s ease infinite;
    width: 100%;
    height: 75%;
    font-size: 20px;
    border-radius: 15px;
    animation: only-border 5s ease infinite;
  }

  #barraBusqueda{
  padding-left: 0px;
  margin: auto;
  }